.hero {
  height: 90vh;
  background: linear-gradient(to right, #fc15e8, #c8d335);
}

/* Navbar */
.navbar .nav-link {
  font-weight: 500;
  position: relative;
}
.navbar .nav-link:hover {
  color: #eb1097;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0; left: 0;
  width: 0; height: 2px;
  background: #f356b1;
  transition: 0.3s;
}
.navbar .nav-link:hover::after {
  width: 100%;
}

/* Cards */
.shadow-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shadow-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgb(5, 248, 236);
}
